<div class="flex">
<%= form_with(model: fine, local: true) do |form| %>
  <% if fine.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% fine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select :user_id, options_from_collection_for_select(@users, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :fine_date %>
    <%= form.datetime_select :fine_date %>
  </div>

  <div class="field">
    <%= form.label :fine_status %>
    <p><%= form.select :fine_status, options_for_enum(:fine_statuses) %></p>
  </div>

  <div class="field">
    <%= form.label :fine_number %>
    <%= form.text_field :fine_number %>
  </div>

  <div class="field">
    <%= form.label t("activerecord.models.company") %>
    <%= form.select :branch_id, options_from_collection_for_select(@branches, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>