<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-10 col-sm-9">
    <h1><%= t("general.fines") %></h1>
  </div>
  <div>
    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <button type="button" class="btn supremo-btn-gray no-hover"><%= link_to new_model, new_fine_path, class: "text-white" %></button>
    </div>
  </div>
</div>

  <table class="table bg-white">
    <thead>
      <tr class="supremo-table-top-color">
        <th class="text-center"><%= t('general.conductor') %></th>
        <th class="text-center"><%= t('activerecord.attributes.fine.fine_date') %></th>
        <th class="text-center"><%= t("activerecord.attributes.fine_point.point") %></th>
        <th class="text-center"><%= t('activerecord.attributes.fine.fine_status') %></th>
        <th class="text-center"><%= t('activerecord.attributes.fine.fine_number') %></th>
        <th class="text-center"><%= t('activerecord.attributes.fine.detran_id') %></th>
        <th class="text-center"><%= t("activerecord.models.company") %></th>
        <th colspan="3" class="text-center"><%= t("general.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @fines.each do |f| %>
        <tr class="text-center">
          <td class="text-center"><%= f.user&.name.capitalize %></td>
          <td class="text-center"><%= f.fine_date %></td>
          <td class="text-center"><%= f.fine_point&.name %></td>
          <td class="text-center"><%= enum_to_name(f, :fine_status) %></td>
          <td class="text-center"><%= f.fine_number %></td>
          <td class="text-center"><%= f.fine_point&.name %></td>
          <td class="text-center"><%= f.detran&.name %></td>
          <td class="text-center"><%= f.branch&.name %></td>
          <td>
            <div class="dropdown text-center">
              <button type="button" class="fas fa-ellipsis-v supremo-hover-click" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><%= link_to t('general.show'), f %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "status", fine_identified_unidentified_path(f), method: :post, remote: true %></li>
                <li><%= link_to t('general.delete'), fine_path(f), method: :delete, data: { confirm: t("general.messages.confirm") } %></li>
              </ul>
              <li><%= link_to t('general.edit'), edit_fine_path(f), class: "pad-left-5" %></li>
            </div>
          </td>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to t("general.new"), new_fine_path %>

<!--
<div class="col-md-3 col-md-offset-9">
  <div class="supremo_pagination">
    <%#= will_paginate @fines %>
  </div>
</div>
-->
