<h1><%= t("activerecord.models.fine") %></h1>
<table>
  <thead>
    <tr>
      <th><%= t('general.conductor') %></th>
      <th><%= t('activerecord.attributes.fine.fine_date') %></th>
      <th><%= t('activerecord.attributes.fine.fine_status') %></th>
      <th><%= t('activerecord.attributes.fine.fine_number') %></th>
      <th><%= t("activerecord.models.company") %></th>
      <th colspan="3"><%= t("general.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @fines.each do |f| %>
      <tr>
        <td><%= f.user.name.capitalize %></td>
        <td><%= f.fine_date %></td>
        <td><%= enum_to_name(f, :fine_status) %></td>
        <td><%= f.fine_number %></td>
        <td><%= f.branch&.name %></td>  
        <td><%= link_to t('general.show'), f %></td>
        <td><%= link_to t('general.edit'), edit_fine_path(f) %></td>
        <td><%= link_to t('general.delete'), f, method: :delete, data: { confirm: t("general.messages.confirm") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t("general.new"), new_fine_path %>
