<div>
  <h1 class="h3 left"><%= t("general.fines") %></h1>

  <div class="right mt-10">
    <%= link_to new_fine_path do %>
      <button type="button" class="btn btn-default supremo-btn-gray text-light"><%= link_to new_model_f, new_fine_path, class: "text-white" %></button>
    <% end %>
  </div>
</div>

  <table class="table">
    <thead>
      <tr class="supremo-table-top-color">
        <th><%= t('general.conductor') %></th>
        <th><%= t('activerecord.attributes.fine.fine_date') %></th>
        <th><%= t("activerecord.attributes.fine_point.point") %></th>
        <th><%= t('activerecord.attributes.fine.fine_status') %></th>
        <th><%= t('activerecord.attributes.fine.fine_number') %></th>
        <th><%= t('activerecord.attributes.fine.detran_id') %></th>
        <th><%= t("activerecord.models.company") %></th>
        <th colspan="5" class="text-center"><%= t("general.actions") %></th>
      </tr>
    </thead>

    <tbody>
      <% @fines.each do |f| %>
        <tr>
          <%= link_to "" do %>
          <td title="Visualizar multa de <%= (f.user&.name).capitalize %>">
            <%= link_to "#{truncate((f.user&.name).capitalize, length: 16)}", fine_path(f) %>
          </td>
          <td><%= l(f.fine_date, format: :short) %></td>
          <td><%= f.fine_point&.name %></td>
          <td><%= enum_to_name(f, :fine_status) %></td>
          <td><%= f.fine_number %></td>
          <td><%= f.detran&.name %></td>
          <td><%= f.branch&.name %></td>
          <% end %>
          <td>
            <div class="dropdown text-center">
              <button type="button" class="fas fa-ellipsis-v supremo-hover-click" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><%= link_to t('general.show'), f %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "status", fine_identified_unidentified_path(f), method: :post, remote: true %></li>
                <li><%= link_to t('general.delete'), fine_path(f), method: :delete, data: { confirm: t("general.messages.confirm") } %></li>
              </ul>
              &#160 &#160
              <%= link_to fa_icon('user-edit'), edit_user_path(f), class: "pad-left-5" if current_user.admin? || current_user.manager? %>
            </div>
          </td>
    <% end %>
    </tbody>
  </table>
  <br>

<div class="right">
  <div class="supremo_pagination">
    <%= will_paginate @fines %>
  </div>
</div>
