<%= form_for @user do |form| %>
  <div class="flex center">
    <div class="container">
      <div class="py-4">
        <h2 class="h6 py-4"><%= form.label :name %></h2>
        <p><%= form.text_field :name %></p>
      </div>
      <div>
        <h2 class="h6 py-4"><%= form.label :email %></h2>
        <p><%= form.text_field :email %></p>
      </div>
      <div>
        <h2 class="h6 py-4"><%= form.label :password %></h2>
        <p><%= form.text_field :password %></p>
      </div>
      <div>
        <h2 class="h6 py-4"><%= form.label :password_confirmation %></h2>
        <p><%= form.text_field :password_confirmation %></p>
      </div>
      <div>
        <h2 class="h6 py-4"><%= form.label :status %></h2>
        <p><%= form.select :status, options_for_enum(:statuses), { include_blank: false } %></p>
      </div>
      <div>
        <h2 class="h6 py-4"><%= form.label :user_type %></h2>
        <p><%= form.select :user_type, options_for_enum(:user_types), { include_blank: false } %></p>
      </div>
      <div class="py-4">
        <%= submit_tag t("general.save") %>
      </div>
    </div>
  </div>
<% end %>