<div class="d-flex flex-col">
    <h1 class="left"> <%= t("activerecord.models.user").pluralize %> </h1><hr>
</div>

<div class="mb-10 d-flex justify-between align-items-center">
  <p class="second-color h6"><%= t'general.show' %> <span class="opacity-50"><%= @users.count %></span></p>
  <%= link_to new_user_path do %>
    <button type="button" class="mb-10 btn btn-default supremo-btn-gray text-light"><%= new_model.capitalize %></button>
  <% end %>
</div>

<table class="table">
  <thead class="">
  <tr class="jumbotron">
    <th><%= t("activerecord.attributes.user.name").upcase %></th>
    <th><%= t("activerecord.attributes.user.email").upcase %></th>
    <th style="padding-left: 20px"><%= t("activerecord.attributes.user.status").upcase %></th>
    <th><%= t("table.type").upcase %></th>
    <th><%= t("activerecord.attributes.company_types.branch").upcase %></th>
    <th colspan='5' class='text-center'> <%= t("general.actions").upcase %> </th>
  </tr>
  </thead>

  <tbody>
  <% authorized_users.each do |user| %>
    <tr>
      <td title="<%= t "general.show_details" %>">
        <%= link_to"#{(user&.name).split.first} #{(user&.name).split.last}", user_path(user),  class: "semi-bold" %>
      </td>
      <td title="<%= t("general.send_mailto") %> <%= user&.email %>"><%= mail_to(truncate(user&.email, length: 10)) %></td>

      <td>
        <% user.status == "enabled" ? statuses = "supremo-btn-identified" : statuses = "supremo-btn-unidentified" %>
        <div class="<%= statuses %>"> <%= enum_to_name(user, :status) %> </div>
      </td>

      <td><%= enum_to_name(user, :user_type) %></td>
      <td><%= user.company&.name %></td>

      <% if current_user.root? %>
        <td>
          <div class="dropdown text-center">
            <button type="button" class="fas fa-ellipsis-v supremo-hover-click" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to t("general.show"), user_path(user) %></li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to user.status == "enabled" ? t("general.to_disable") : t("general.to_enable"), user_enable_disable_path(user), method: :post, remote: true %>
              </li>
              <li role="separator" class="divider"></li>
              <li><%= link_to t("general.delete"), user_path(user), method: :delete, data: {confirm: I18n.t("general.messages.confirm")} %></li>
            </ul>&#160 &#160
            <%= link_to fa_icon('user-edit'), edit_user_path(user), class: "pad-left-5" %>
          </div>
        </td>
      <% else %>
        <td class="text-center"><li><%= link_to t("general.show"), user_path(user) %></li></td>
      <% end %>

    </tr>
    <% end %>
  </tbody>
</table>

<%
  def page_count
    count = User.count - 2
    if params[:page].to_i < 2 && params[:page].to_i >=0
        User.count <= 3 ? ("#{t('general.show_last')} #{count}") : "#{t('general.show_last').pluralize} #{count}"
    end
  end
%>
<div class="d-flex justify-between">
  <span class="opacity-50 h5"><%= page_count %></span>
  <div class="supremo_pagination">
      <%= will_paginate @users, previous_label: fa_icon('angle-left'), next_label: fa_icon('angle-right') %>
  </div>
</div>
