<main>

<br>
<table style="border:1px black solid;">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.user.name") %></th>
      <th><%= t("activerecord.attributes.user.email") %></th>
      <th><%= t("activerecord.attributes.user.user_type") %></th>
      <th><%= t("activerecord.attributes.user.status") %></th>
      <th><%= t("general.actions") %></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tbody style="background:#efefef">
      <tr>
        <td><%= (user.name).capitalize %></td>
        <td><%= user.email %></td>
        <td><%= enum_to_name(user, :user_type) %></td>
        <td><%= enum_to_name(user, :status) %></td>
        <td><%= link_to "show", user_path(user) %></td>
        <td><%= link_to "edit", edit_user_path(user) %></td>

      </tr>
    </tbody>
  <% end %>
</table>
</main>
<div>
  <%= link_to "New", new_user_path %>
</div>
