<div>
  <div style="float:left">
    <h1 class=""> <%= t("activerecord.models.user").pluralize %> </h1>
  </div>
  <div style="float:right" class="container-fluid pt-10">
    <%= link_to new_user_path do %>
      <button type="button" class="mt-10 btn btn-default supremo-btn-gray text-light"><%= new_model %></button>
    <% end %>
  </div>
</div>

<table class="table supremo-table-color">
  <thead class="">
  <tr class="supremo-table-top-color">
    <th><%= t("activerecord.attributes.user.name") %></th>
    <th><%= t("activerecord.attributes.user.email") %></th>
    <th><%= t("activerecord.attributes.user.status") %></th>
    <th><%= t("activerecord.attributes.user.user_type") %></th>
    <th colspan="5" class="text-center"><%= t("general.actions") %></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <% @users.each do |user| %>

      <td title="<%= t "users.show" %>: <%= (user&.name) %>">
        <%= link_to"#{truncate((user&.name), length: 16)}", user_path(user) %>
      </td>

      <td title="<%= t"users.send_mail" %>"><%= mail_to(user&.email) %></td>

      <td>
        <% if current_user.admin? %>
          <button class="btn" title="<%= user.status == "enabled" ? t("general.to_disable") : t("general.to_enable") %>">
            <%=link_to "#{enum_to_name(user, :status)}", user_enable_disable_path(user), method: :post, remote: true %>
          </button>
        <% else %>
          <%= enum_to_name(user, :status) %>
        <% end %>
      </td>

      <td><%= enum_to_name(user, :user_type) %></td>
      <td><%= current_user&.company&.name %></td>
      <td>
        <div class="dropdown text-center">
          <button type="button" class="fas fa-ellipsis-v supremo-hover-click" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to t("general.show"), user_path(user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to t("general.delete"), user_path(user), method: :delete, data: {confirm: I18n.t("general.messages.confirm")} if current_user.admin? %></li>
          </ul>
          <%= link_to fa_icon('user-edit'), edit_user_path(user), class: "pad-left-5" %>
        </div>
      </td>
      </tr>
    <% end %>
    </tbody>
</table>

<div style="float: right;" class="">
  <div class="supremo_pagination">
      <%= will_paginate @users, previous_label: fa_icon('angle-left'), next_label: fa_icon('angle-right') %>
  </div>
</div>