<main>
  <div class="flex h-blue">
    <%= user_signed_in? ? (link_to t('general.exit'), destroy_user_session_path, method: :delete) : (link_to t('general.login'), new_user_session_path) %>
    <%= link_to t("general.new"), new_user_path %>
  </div>
<br>
<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.user.name') %></th>
      <th><%= t('activerecord.attributes.user.email') %></th>
      <th><%= t('activerecord.attributes.user.user_type') %></th>
      <th><%= t('activerecord.attributes.user.status') %></th>
      <th colspan="3"><%= t("general.actions") %></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tbody>
      <tr>
        <td><%= (user.name).capitalize %></td>
        <td><%= user.email %></td>
        <td><%= enum_to_name(user, :user_type) %></td>
        <td><%= enum_to_name(user, :status) %></td>
        <td><%= link_to t("general.show"), user_path(user) %></td>
        <td ><%= link_to t("general.edit"), edit_user_path(user) %></td>
        <td><%= link_to t("general.delete"), user_path(user), method: :delete, data: {confirm: I18n.t("general.messages.confirm")} %></td>
      </tr>
    </tbody>
  <% end %>
</table>
</main>
