<table>
  <thead>
    <tr>
      <th><strong><%= t("activerecord.attributes.user.name") %>:</strong></th>
      <th><strong><%= t("activerecord.attributes.user.status") %>:</strong></th>
      <th><strong><%= t("activerecord.attributes.user.user_type") %>:</strong></th>
      <th><%= t("general.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name.gsub(/\w+/) { |w| w.capitalize }%></td>
      <td><%= enum_to_name( @user, :status) %></td>
      <td><%= enum_to_name( @user, :user_type) %></td>
      <td><%= link_to @user.status == "enabled" ? t("general.to_disable") : t("general.to_enable"), user_enable_disable_path(@user) , method: :post, remote: true %></td>
    </tr>
  </tbody>
</table>
<div class="flex">
  <%= link_to t("general.back"), users_path %>&#160; - &#160;
  <%= link_to t("general.edit"), edit_user_path %>
</div>
