<p><strong><%= t("activerecord.attributes.user.name") %>:</strong></p>
<%= @user.name.capitalize %>
<p><strong><%= t("activerecord.attributes.user.email") %>:</strong></p>
<%= @user.email %>
<p><strong><%= t("activerecord.attributes.user.status") %>:</strong></p>
<%= enum_to_name( @user, :status) %>
<p><strong><%= t("activerecord.attributes.user.user_type") %>:</strong></p>
<%= enum_to_name( @user, :user_type) %>
<br><br>
<div class="flex">
  <%= link_to t("general.back"), users_path %>&#160; - &#160;
  <%= link_to t("general.edit"), edit_user_path %>
</div>
