<ul class="only-mobile nav navbar-nav nav-pills nav-stacked">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle container-fluid" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <button class="btn-default supremo-btn-gray text-light btn btn-dark">menu</button>
    </a>
    <ul class="dropdown-menu no-hover">
      <li class="<%= 'active' if params[:controller] == 'users' %>">
        <%= link_to fa_icon('user', type: :regular, text: t("activerecord.models.user")), users_path %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'fines' %>">
        <%= link_to fa_icon('file-alt', type: :regular, text: t("activerecord.models.fine")), fines_path %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'fine_points' %>">
        <%= link_to fa_icon('file-powerpoint', type: :regular, text: t("activerecord.models.fine_point")), fine_points_path %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'companies' %>">
        <%= link_to fa_icon('building', type: :regular, text: t("activerecord.models.company")), companies_path %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'cars' %>">
        <%= link_to fa_icon('car', text: t("activerecord.models.car")), cars_path %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'car_types' %>">
        <%= link_to fa_icon('car-side', text: t("activerecord.models.car_type")), car_types_path %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'car_models' %>">
        <%= link_to fa_icon('car-side', text: t("activerecord.models.car_model")), car_models_path %>
      </li>
    </ul>
  </li>

</ul>