<p id="notice"><%= notice %></p>

<h1><%= t("activerecord.models.company").pluralize %></h1>
<table class="container">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.company.name") %></th>
      <th><%= t("activerecord.attributes.company.company_type") %></th>
      <th><%= t("activerecord.attributes.company.cnpj") %></th>
      <th><%= t("activerecord.attributes.company.phone") %></th>
      <th><%= t("activerecord.attributes.company.address") %></th>
      <th><%= t("activerecord.attributes.company.number") %></th>
      <th><%= t("activerecord.attributes.company.zipcode") %></th>
      <th><%= t("activerecord.attributes.company.district") %></th>
      <th><%= t("activerecord.attributes.company.city_id") %></th>
      <th colspan="3"><%= t("general.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.company_type %></td>
        <td><%= company.cnpj %></td>
        <td><%= company.phone %></td>
        <td><%= company.address %></td>
        <td><%= company.number %></td>
        <td><%= company.zipcode %></td>
        <td><%= company.district %></td>
        <td><%= company.city.name %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("general.new"), new_company_path %>
