<p>
  <strong><%= t("activerecord.attributes.company.name") %>:</strong>
  <%= @company.name %>
</p>

<p>
  <strong><%= t("activerecord.attributes.company.company_type") %>:</strong>
  <%= @company.company_type %>
</p>

<p>
  <strong><%= t("activerecord.attributes.company.cnpj") %>:</strong>
  <%= @company.cnpj %>
</p>

<p>
  <strong><%= t("activerecord.attributes.company.phone") %>:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong><%= t("activerecord.attributes.company.address") %>:</strong>
  <%= @company.address %>
</p>

<p>
  <strong><%= t("activerecord.attributes.company.number") %>:</strong>
  <%= @company.number %>
</p>

<p>
  <strong><%= t("activerecord.attributes.company.zipcode") %>:</strong>
  <%= @company.zipcode %>
</p>

<p>
  <strong><%= t("activerecord.attributes.company.district") %>:</strong>
  <%= @company.district %>
</p>

<p>
  <strong><%= t("activerecord.attributes.company.city_id") %>:</strong>
  <%= @company.city.name %>
</p>

<%= link_to t("general.edit"), edit_company_path(@company) %>
<%= link_to t("general.back"), companies_path %>
