<h1 class="h3 left"><%=  %></h1>

<div>
  <h1 class="h3 left"> <%= t("activerecord.models.car").pluralize %> </h1>

  <div class="right mt-10">
    <%= link_to new_car_path do %>
      <button type="button" class="btn btn-default supremo-btn-gray text-light"><%= new_model %></button>
    <% end %>
  </div>
</div>

<table class="table">
  <thead>
    <tr class="supremo-table-top-color">
      <th><%= t("activerecord.attributes.car.year") %></th>
      <th><%= t("activerecord.attributes.car.license_plate") %></th>
      <th><%= t("activerecord.attributes.car.status") %></th>
      <th><%= t("activerecord.attributes.car_model.car_type_id") %></th>
      <th><%= t("activerecord.attributes.car.car_model_id") %></th>
      <th colspan="4"><%= t("general.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car&.year %></td>
        <td><%= car&.license_plate %></td>
        <td><%= enum_to_name(car, :status) %></td>
        <td><%= car&.car_model&.car_type&.name %></td>
        <td><%= car&.car_model&.name %></td>
        <td><%= link_to t("general.show"), car %></td>
        <td><%= link_to t("general.edit"), edit_car_path(car) %></td>
        <td><%= link_to t("general.delete"), car, method: :delete, data: { confirm: t("general.messages.confirm") } %></td>
        <td><%= link_to car.status == "enabled" ? t("general.to_disable") : t("general.to_enable"), car_enable_disable_path(car) , method: :post, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="right">
  <div class="supremo_pagination">
    <%= will_paginate @users, previous_label: fa_icon('angle-left'), next_label: fa_icon('angle-right') %>
  </div>
</div>

<!--<br><br><br><br>
<div>
  <%#= t("hello").html_safe %>
</div>-->
