<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th><strong><%= t("activerecord.attributes.car.year") %>:</strong></th>
      <th><strong><%= t("activerecord.attributes.car.license_plate") %>:</strong></th>
      <th><strong><%= t("activerecord.attributes.car.status") %>:</strong></th>
      <th><strong><%= t("activerecord.attributes.car.car_model_id") %>:</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @car.year %></td>
      <td><%= @car.status %></td>
      <td><%= @car.license_plate %></td>
      <td><%= @car.car_model.name %></td>
    </tr>
  </tbody>
</table>
</p>

<%= link_to t("general.edit"), edit_car_path(@car) %>
<%= link_to t("general.back"), cars_path %>
