<p id="notice"><%= notice %></p>
<div>
  <h1 class="h3 left"><%= t("activerecord.models.fine_point") %></h1>

  <div class="right mt-10">
    <%= link_to new_fine_point_path do %>
      <button type="button" class="btn btn-default supremo-btn-gray text-light"><%= new_model_f %></button>
    <% end %>
  </div>
</div>

<table class="table col-lg-5">
  <thead>
    <tr class="supremo-table-top-color">
      <th><%= t("activerecord.attributes.fine_point.name") %></th>
      <th><%= t("activerecord.attributes.fine_point.point") %></th>
      <th colspan="3" class="text-center"><%= t("general.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @fine_points.each do |fine_point| %>
      <tr>
        <td><%= fine_point.name %></td>
        <td><%= fine_point.point %></td>
        <td><%= link_to t("general.show"), fine_point %></td>
        <td><%= link_to t("general.edit"), edit_fine_point_path(fine_point) %></td>
        <td><%= link_to t("general.delete"), fine_point, method: :delete, data: { confirm: t("general.messages.confirm") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<div class="right">
  <div class="supremo_pagination">
    <%= will_paginate @users, previous_label: fa_icon('angle-left'), next_label: fa_icon('angle') %>
  </div>
</div>

