<%= form_with(model: car_model, local: true) do |form| %>
  <% if car_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car_model.errors.count, "error") %> prohibited this car_model from being saved:</h2>

      <ul>
      <% car_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :car_brand_id %>
    <%= form.select :car_brand_id, options_from_collection_for_select(@car_brands, :id, :name) %>

  </div>

  <div class="field">
    <%= form.label :car_type_id %>
    <%= form.select :car_type_id, options_from_collection_for_select(@car_types, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit t("general.save")%>
  </div>
<% end %>
