<p>
  <strong>Name:</strong>
  <%= @car_model.name %>
</p>

<p>
  <strong>Car brand:</strong>
  <%= @car_model.car_brand&.name %>
</p>

<p>
  <strong>Car type:</strong>
  <%= @car_model.car_type&.name %>
</p>

<%= link_to t("general.edit"), edit_car_model_path(@car_model) %>
<%= link_to t("general.back"), car_models_path %>
