<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path("logo-ico.png") %>
    <title><%= t("general.supreme") %></title>
  </head>

  <body>
    <header style="margin-bottom:90px;" class="container-fluid supremo-bg-dark">
      <%= render 'shared/header' if signed_in? %>
    </header>
    <main class="container-fluid">
      <div class="">

        <%= image_tag("cta-concreto1.png") unless signed_in? %>

        <!-- Responsive Nav -->
        <nav class="hidden-xs hidden-sm mt-10 col-sm-2 col-md-3 col-lg-2 d-flex">
          <%= render "shared/nav_left" if signed_in? %>
        </nav>
<!--        <nav class="mt-10 hidden-xs hidden-sm hidden-md hidden-lg col-sm-1 col-md-1 d-flex">-->
          <%#= render "shared/nav_small" if signed_in? %>
<!--        </nav>-->
        <nav class="hidden-md hidden-lg">
          <%= render "shared/nav_menu" if signed_in? %>
        </nav> <!-- Responsive Nav -->

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 right">
          <p><%= notice %></p>
          <p><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </main>
    </div>
  </body>
</html>
