<!DOCTYPE html>
<html>
  <head>
    <title>SupremoMultas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <main>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div>
    <br>
    <%= "#{t("general.welcome")}, #{current_user.name.capitalize}!" if user_signed_in? %>
    <br>
  </div>
    <div class="container flex-col">
      <%= yield %>
    </div>
  </main>
  </body>
</html>
