<!DOCTYPE html>
<html>
  <head>
    <title>SupremoMultas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <main>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div>
    <br>
    <%= (current_user.name).capitalize if user_signed_in? %>
    <%= user_signed_in? ? (link_to 'Log out', destroy_user_session_path, method: :delete) : (link_to "Login", new_user_session_path) %>
    <br>
  </div>
    <%= yield %>
  </main>
  </body>
</html>
