<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path("logo-ico.png") %>
    <title><%= t("general.supreme") %></title>
  </head>

  <body>
    <div class="row container-fluid">
    <header class="supremo-bg-dark">
      <%= render 'shared/header' if signed_in? %>
    </header>
    <main class="container-fluid">
      <div class="">

        <%= image_tag("cta-concreto1.png") unless signed_in? %>

        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 d-flex justify-center align-items-center">
          <%= render "shared/nav_left" if signed_in? %>
        </div>
        <div class="col-lg-10 col-md-5 col-sm-3 col-xs-12">
          <p><%= notice %></p>
          <p><%= alert %></p>
          <%= yield %>
        </div>
      </div>
      <%#= params.inspect %>
    </main>
    </div>
  </body>
</html>
