<!DOCTYPE html>
<html>
  <head>
    <title><%= t("general.supreme") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="flex">
      <br> <%= "#{t("general.welcome")}, #{current_user.name.capitalize}!" if user_signed_in? %>
      <%= "#{t("activerecord.models.company")} #{current_company&.name}." if user_signed_in? %> <br>
    </div>
      <div class="flex">
      <div>
        <%= render "layouts/menu" if user_signed_in? %>
      </div>
      <div class="container flex-col">
        <%= yield %>
      </div>
    </div>

    <%#= params.inspect %>
  </main>
  </body>
</html>
